<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Aggiungo l'header della homepage -->
    <header id="main-header">
        <div class="header-left">
            <a href="/" class="logo-link">
                <div class="logo-container">
                    <img th:src="@{/image/logo1.png}" alt="FCF Motors Logo" class="logo"/>
                </div>
            </a>
            <div class="title-container">
                <h1 class="main-title">FCF MOTORS</h1>
                <a href="/products" class="products-button"><i class="fas fa-car"></i> Trova Auto</a>
                <a href="/dealers" class="dealers-button"><i class="fas fa-map-marker-alt"></i> Trova Concessionario</a>
            </div>
        </div>
        <div class="nav-container">
            <div class="nav-bar">
                <a href="/account" class="icon-button"><i class="fas fa-user"></i> Account</a>
                <a href="/cart" class="icon-button"><i class="fas fa-shopping-cart"></i> Carrello</a>
            </div>
        </div>
    </header>

    <div class="wrapper">
        <form th:action="@{/perform_login}" method="post">
            <h2>Login Form</h2>
            <div class="input-field">
                <input type="text" name="username" required>
                <label>Enter your username</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" required>
                <label>Enter your password</label>
            </div>
            <div class="forget">
                <label for="remember">
                    <input type="checkbox" id="remember" name="remember-me">
                    <p>Remember me</p>
                </label>
                <a href="/forgot-password">Forgot password?</a>
            </div>
            <button type="submit">Log In</button>
            <div th:if="${param.error}" style="color: red;">
                Credenziali non valide.
            </div>
            <div class="register">
                <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
            </div>
        </form>
        <a th:href="@{/}" class="icon-button"><i class="fas fa-arrow-left"></i></a>
    </div>
</body>
</html>